# -*- mode: gitattributes; -*-
# vi: set ft=gitattributes:

[attr]whitespace-2   whitespace=tab-in-indent,tabwidth=2,trailing-space
[attr]whitespace-4   whitespace=tab-in-indent,tabwidth=4,trailing-space
[attr]whitespace-md  whitespace=-blank-at-eol,blank-at-eof,tab-in-indent

*                    text=auto

*.cmake              text whitespace-2
*.cs                 text diff=csharp whitespace-4
*.csproj             text diff=html linguist-generated whitespace-2
*.css                text diff=css linguist-documentation whitespace=trailing-space
*.html               text diff=html linguist-documentation linguist-language=xml whitespace=trailing-space
*.md                 text diff=markdown whitespace-md
*.sln                text linguist-generated whitespace=tabwidth=2,trailing-space
*.yml                text whitespace-2

.editorconfig        text whitespace-2
.gitattributes       text export-ignore whitespace-2
.gitignore           text export-ignore whitespace-2
CMakeLists.txt       text whitespace-2
Doxyfile             text linguist-generated whitespace-2
CODEOWNERS           text whitespace-2
LICENSE              text linguist-documentation linguist-vendored whitespace=trailing-space
README.md            linguist-documentation

.github/**           export-ignore
.github/**/*.md      linguist-documentation
